//process.module=['conda']

params{
  threads=2
  antismash=true
  sanntis=true
  gecco=true
  deepbgc=true
}

timeliene{
  enabled=true
  file="./timeline.html"
}

env {
    //PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

manifest{
  name='nf_deepbgc'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_bgcpred"
  description="pipeline for predicting BGC in metagenomic assemblies using DeepBGC software"
  mainScript="main.nf"
  version="0.1"
}
