//process.module=['conda']
process.container= "quay.io/biocontainers/deepbgc:0.1.26--py_0"

params{
  threads=2
  output_assemblies="megahit_assemblies"
}

timeliene{
  enabled=true
  file="./timeline.html"
}

manifest{
  name='nf_assembly_megahit'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_assembly_megahit"
  description="pipeline for assembly NCBI id fastq sequences using megahit"
  mainScript="main.nf"
  version="0.1"
}
